# Environment Check

This notebook verifies that my Python data science environment is set up correctly.

In [1]:
import sys
sys.version

'3.13.9 | packaged by Anaconda, Inc. | (main, Oct 21 2025, 19:09:58) [MSC v.1929 64 bit (AMD64)]'

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

print("Libraries imported successfully")

Libraries imported successfully

In [3]:
data = {
    "age": [35, 52, 29],
    "smoker": ["No", "Yes", "No"],
    "risk_band": ["Low", "High", "Low"]
}

df = pd.DataFrame(data)
df

   age smoker risk_band
0   35     No       Low
1   52    Yes      High
2   29     No       Low

This confirms that I can create and inspect tabular data using pandas,
which will be the foundation for underwriting-style analysis.