# Batch Underwriting Decisions Using Tabular Data

This notebook demonstrates how underwriting rules can be applied
consistently across many applicants using tabular (DataFrame) data.

The goal is to simulate how real underwriting teams process volume,
while preserving explainability and control.

In [1]:
import pandas as pd

In [2]:
applicants = pd.DataFrame({
    "applicant_id": [101, 102, 103, 104, 105],
    "age": [45, 28, 52, 39, 61],
    "is_smoker": [False, False, True, False, True],
    "annual_income": [500000, 900000, 750000, 1200000, 400000]
})

applicants

   applicant_id  age  is_smoker  annual_income
0           101   45      False         500000
1           102   28      False         900000
2           103   52       True         750000
3           104   39      False        1200000
4           105   61       True         400000

In [3]:
def assess_risk(age, is_smoker, annual_income):
    if age > 40 and is_smoker and annual_income < 800000:
        return "High Risk"
    elif age > 40 and not is_smoker:
        return "Refer for Review"
    else:
        return "Standard Risk"

In [4]:
applicants["decision"] = applicants.apply(
    lambda row: assess_risk(
        age=row["age"],
        is_smoker=row["is_smoker"],
        annual_income=row["annual_income"]
    ),
    axis=1
)

applicants

   applicant_id  age  is_smoker  annual_income          decision
0           101   45      False         500000  Refer for Review
1           102   28      False         900000     Standard Risk
2           103   52       True         750000         High Risk
3           104   39      False        1200000     Standard Risk
4           105   61       True         400000         High Risk

In [5]:
decision_counts = applicants["decision"].value_counts()
decision_counts

decision
Standard Risk       2
High Risk           2
Refer for Review    1
Name: count, dtype: int64

## Reflection

This approach demonstrates how:
- Deterministic underwriting rules can scale across many applicants
- Human review can be reserved for specific outcomes
- Decisions remain transparent and auditable

This is the foundation of a rules-based underwriting engine operating at volume.